.scroll-container {
    height: 290vh;
    position: relative;
    scroll-behavior: smooth;
  }
  .header_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99vw;
    height: 89vh;
  }
  .title {
    display: flex;
    justify-content: center;
    gap: 8%;
    color: #d45422;
  }
  .title_part1 {
    font-size: 98px;
    position: relative;
    z-index: 1;
  }
  .title_part2 {
    font-size: 98px;
    z-index: -1;
    transform: translateX(-21%);
  }
  #scroll-model {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  #scroll-model > img {
    /* display: none; */
    /* max-width: 100%; */
    /* max-height: 100%; */
    max-width: 30vw;
    position: absolute;
    will-change: contents;
  }

  .content {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(255, 255, 255), #d45422);
    /* transform: translateY(-20vh); */
  }


  @media (max-width: 767px) {
    .title_part1, .title_part2 {
        font-size: 30px;
    }
    #scroll-model > img {
        /* display: none; */
        /* max-width: 100%; */
        /* max-height: 100%; */
        max-width: 70vw;
      }
  }